RewriteEngine On


# Quickregister Rules
	
DirectoryIndex index.html index.php index.htm
ErrorDocument 404 /error.php

RewriteRule ^index(|/)$ /index.php
RewriteRule ^register(|/)$ /register.php
RewriteRule ^logout(|/)$ /logout.php
RewriteRule ^servers(|/)$ /servers.php
RewriteRule ^postserver(|/)$ /postserver.php
RewriteRule ^login(|/)$ /login.php
RewriteRule ^tools(|/)$ /tools.php
RewriteRule ^xat(|/)$ /xat.php
RewriteRule ^error(|/)$ /webdav/
RewriteRule ^error(|/)$ /error.php
RewriteRule ^mantenimiento(|/)$ /mantenimiento.php